body{
  display:block;
  color:#ffffff;
  overflow: hidden;
}
textarea{
  margin-left:36%;
  width:330px;
  height:330px;
  border-radius: 100%;
  padding:70px;
  border-color: transparent;
  background: rgb(60,60,60); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(40,40,40,1) 89%,rgba(30,30,30,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(50,50,50,1) 0%,rgba(40,40,40,1) 89%,rgba(30,30,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(35,35,35,1) 0%,rgba(30,30,30,1) 89%,rgba(20,20,20,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  box-shadow: 0px 0px 30px #0f0f0f;
  color:#ffffff;
  resize: none;
  z-index: 1000;
  position:relative;
}

.large_triangle{
  position:absolute;
  margin-left: 38.7%;
  margin-top:265px;
  border-bottom: 80px solid #000000;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  width: 200px;
  top:280px;
  left:60px;
  z-index: 1000;
}

.large_orb_container{
  padding-left:2%;
  padding-right:2%;

}



nav{
  display:block;
}
.orb-margin{
  margin-left:18%;
}

#image_section{
  display:none;

}

.placeholder{
  margin-top: 12px;
  padding-top: 10px;
  padding-bottom: 5px;
  visibility: hidden;
}

.emotion-control, .searchbox, .placeholder{
  color:black;
  margin-top: 12px;
  border-radius: 50px;
  background-color: rgb(60,60,60);
  padding-top: 10px;
  padding-bottom: 5px;
}

.emotion-control label, .searchbox p{
  color:#ffffff;
  font-size: 12pt;
  font-family: "Gloria Hallelujah",cursive;
}


/**Back button**/
#back, #newDreamSubmit{
  color:#ffffff;
  font-size: 20pt;
  font-family: "Gloria Hallelujah",cursive;
}
#back:hover, #newDreamSubmit:hover{
  color:darkgrey;
  text-decoration: none;
}

/**Next Button**/
#newDreamSubmit{
  background-color: transparent;
  border:none;
}
#user_dream_orb{
  margin-top: 50px;
}
.backnext{
  margin-top:150px;
  z-index: 200;
}

/*-----------------Add dream story page---------------------*/
.imageholders{
  position:absolute;
}

#output1,#output2,#output2_overlay,#output1_overlay,#output2_holder{
  position: absolute;
  width: 350px;
  height: 250px;
  border-radius: 25px;
  display: block;
  overflow: hidden;
  background-color: #1f1f1f;
  top:100px;
}
#output1,#output1_overlay{
  left:100px;
}
#output2,#output2_overlay{
  left:680px;
}

#output1_overlay,#output2_overlay{
  background-color: rgba(0,0,0,0.6);
  visibility:hidden;
  z-index:300;
}

#output1_overlay p{
  margin:5% 30% 5% 5%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
}

#output2_overlay p{
  margin:5% 5% 5% 20%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
}

.output1_holder:hover #output1_overlay, .output2_holder:hover #output2_overlay{
 visibility: visible;
opacity: 1;
}


/** Buttons for refereshing a dream **/


#changeImages2, #changeImages1{
  color:#ffffff;
  background: black;
  border:none;
  border-radius: 50%;
  padding: 2px 4px 1px 4px;

}

#changeImages1{
  position:absolute;
  top:110px;
  left:120px;
  z-index: 1001;
}

#changeImages2{
  position:absolute;
  top:110px;
  left:1000px;
  z-index: 1001;
}

#changeImages2:hover, #changeImages1:hover{
  color:darkgrey;
}

/** Button for confirming a dream **/
#newDreamImageSubmit, #searchbtn{
  color:#ffffff;
  position:absolute;
  vertical-align: middle;
  font-size: 20pt;
  background-color: transparent;
  border:none;
  font-family: "Gloria Hallelujah",cursive;
}

#newDreamImageSubmit:hover,#searchbtn:hover{
  color:darkgrey;
  text-decoration: none;
}

/** Style for search image bar **/
#searchbtn{
  font-size: 12pt;
}

#add_dream_stuff{
  z-index: 100000000;
}

/** pensieve **/
.pensieve_add_dream{
  z-index: 0;
  padding: 200px;
  margin-left: 85px;
  bottom:-240px;
  position:fixed;
  border:2px dashed white;
  border-radius: 50%;
  background: rgba(50,50,50,0.5);
}

/**hover text**/

.impact{
  font-size: 1em;
  color: white;
  /*margin: -25px 0px 0 100px;*/
  font-family: "Gloria Hallelujah",cursive;
  opacity:0;
}

.search-inst{
  font-size: 1em;
  color: white;
  position:absolute;
  font-family: "Gloria Hallelujah",cursive;
  opacity: 0;
  text-align: center;
}
.refresh-img1{
  z-index: 1001;
  font-size: 1em;
  color: white;
  position:absolute;
  margin: 70px 0px 0px 100px;
  font-family: "Gloria Hallelujah",cursive;
  opacity: 0;
}
.refresh-img2{
  font-size: 1em;
  color: white;
  position:absolute;
  margin: 70px 0px 0 850px;
  font-family: "Gloria Hallelujah",cursive;
  opacity: 0;
}

.dragtext2{
  position:absolute;
  color:white;
  font-family: "Gloria Hallelujah",cursive;
  z-index:999;
  padding:10px;
  margin-top: 10%;
}

.pen2{
  z-index: 10003;
  height: 170%;
  position: fixed;
  margin-top: -13%;
}
