body{
  display:block;
  padding-top:70px;
  color:#ffffff;
}
textarea {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    padding:70px;
    border-color: transparent;;
    background: rgb(60,60,60); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(40,40,40,1) 89%,rgba(30,30,30,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(50,50,50,1) 0%,rgba(40,40,40,1) 89%,rgba(30,30,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(35,35,35,1) 0%,rgba(30,30,30,1) 89%,rgba(20,20,20,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 0px 30px #0f0f0f;
    color:#ffffff;
    resize: none;
    }

nav{
  display:block;
}
.orb-margin{
  margin-left:18%;
}

#image_section{
  display:none;

}
.emotion-control{
  position: relative;
  margin-top: 10%;
  color:black;
}

.emotion-control label{
  color:white;
}
/**Back button**/
#back, #newDreamSubmit{
  color:#ffffff;
  position:absolute;
vertical-align: middle;
font-size: 20pt;
font-family: "Gloria Hallelujah",cursive;
}
#back:hover, #newDreamSubmit:hover{
  color:darkgrey;
  text-decoration: none;
}

/**Next Button**/
#newDreamSubmit{
  background-color: transparent;
  border:none;
}

/*-----------------Add dream story page---------------------*/


#output1,#output2{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  background-color: #1f1f1f;
}


/** Buttons for refereshing a dream **/
#changeImages2, #changeImages1{
  color:#ffffff;
  background: transparent;
  border:none;
  margin-top: 20px;
  margin-left: 15%;
}

#changeImages2:hover, #changeImages1:hover{
  color:darkgrey;
}

/** Button for confirming a dream **/
#newDreamImageSubmit, #searchbtn{
  color:#ffffff;
  position:absolute;
vertical-align: middle;
font-size: 20pt;
background-color: transparent;
border:none;
font-family: "Gloria Hallelujah",cursive;
}

#newDreamImageSubmit:hover,#searchbtn:hover{
  color:darkgrey;
  text-decoration: none;
}

/** Style for search image bar **/
.searchbox{
  padding:10px;
  background:#1f1f1f;
  border-radius: 25px;
  color: black;
}
#searchbtn{
  font-size: 12pt;
}
