/* ---- particles.js  ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: grey;*/
    background: url('background1.png');
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f2e80+0,3f2e80+100&0.6+0,0+100 */
 -webkit-filter: blur(7px); /* Chrome, Opera, etc. */
  filter: url('blur.svg#blur'); /* Older FF and others - http://jordanhollinger.com/media/blur.svg */
  filter: blur(7px); /* Firefox 35+, eventually all */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}


#particles-js2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    -webkit-filter: blur(2px); /* Chrome, Opera, etc. */
  filter: url('blur.svg#blur'); /* Older FF and others - http://jordanhollinger.com/media/blur.svg */
  filter: blur(2px); /* Firefox 35+, eventually all */

}

/* Navbar*/
.navbar{
  margin: 50px;
}

#dreamer a{
  font-size: 2em;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: left;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  font-family: "Gloria Hallelujah",cursive;
  text-shadow: 0 0 10px rgba(120,205,249,0.4) , 0 0 15px rgba(120,205,249,0.4) , 0 0 20px rgba(120,205,249,0.4) , 0 0 40px #78cdf9 , 0 0 50px #78cdf9 , 0 0 70px #78cdf9 , 0 0 90px #78cdf9 ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 0.4);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 0.4);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 0.4);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 0.4);
  /**padding: 20px 0px 30px 30px;**/
  z-index:1000;
}

#dreamer a:hover{
  text-decoration: none;
  text-shadow: 0 0 20px rgba(120,205,249,1) , 0 0 25px rgba(120,205,249,1) , 0 0 30px rgba(120,205,249,1) , 0 0 40px #78cdf9 , 0 0 50px #78cdf9 , 0 0 70px #78cdf9 , 0 0 90px #78cdf9 ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}


body{
  background-color: #000000;
  margin: 0;

  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  display: block;
  font-family: "Open Sans",sans-serif;

  background-size:cover;
  background-repeat: repeat-x;
}

label{
  font-family: "Open Sans",sans-serif;
  font-weight: normal;
}

.testing{
  background: green;
}
.margin-top{
  margin-top:5%;
}

/** Everything related to shelf itself **/
.shelf{
  margin-top: 15%;
  display: inline-block;
  position: relative;
  width:23.333%;
  padding-right: 10px;
  padding-right: 10px;
}
.top-shelf{
  width: 100%;
  position:relative;
  z-index: 1;
  border-bottom: 10px solid #A7A7A7;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  box-sizing: border-box;
}

.top-shelf-edge {
  width: 100%;
  height: 15px;
  z-index: 99;
  position: relative;
  background: #E9E9E9;
  margin-bottom: 10px;
    box-sizing: border-box;
}

.inside-cont{
  overflow-x: scroll;
  width: 100%;
  height:100%;
  position: absolute;

}

.inside-cont::-webkit-scrollbar {
    display: none;
}
html, body{
  height: 100%;
}
.right-cont{
  position: relative;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+60 */
background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  margin-top: -50px;
  padding: 16% 6% 15% 20%;
  float: right;
  height: 1200px;
  width: 35%;
  z-index: 1000;
}
.right-cont p{
  color: white;
  font-size: 2em;
}
.left-cont{
  position: relative;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+60 */
background: -moz-linear-gradient(right,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  margin-top: -50px;
 /* padding: 16% 10% 15% 20%;*/
  float: left;
  height: 1200px;
  width: 25%;
  z-index: 1000;
}
.bottom-shelf {
  width: 100%;
  z-index: 99;
  position:relative;
  top: -25px;
  border-bottom: 10px solid #ACACAC;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
    box-sizing: border-box;
}

.bottom-shelf-edge {
  width: 100%;
  height: 15px;
  background: #464646;
  position: relative;
  z-index: 99;
  top: -25px;
    box-sizing: border-box;
}

.shelf-background {
  height: 10px;
  width: 200px;
  position: relative;
  background: transparent;
  left: 25px;
    box-sizing: border-box;
}

.listed{
  width: 100%;
}
.listed li{
  display: inline-block;
  position: relative;
  width: 15%;
  margin-right: 4.1%;
}
.listed li:first-child{
  margin-left: 4.1%;
}

/** Orb on shelves **/
.button{
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+89,ededed+100;White+3D+%231 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 89%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  box-shadow: 0px 0px 30px #ffffff;
  z-index: 1000;
}


.button:hover{
  background: darkgrey;

}

.triangle{
  border-bottom: 8px solid #1F1F1F;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 20px;
  position: relative;
  margin-top: -15%;
  left: 7%;
  z-index: 1000;
}
/** Large orb when viewing dream or creating dream **/
.large_orb{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+89,ededed+100;White+3D+%231 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 89%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  box-shadow: 0px 0px 30px #ffffff;
  z-index: 1000;
  margin-left: 30%;
}
.orb-margin{
  margin-left:18%;
}
.orb-margin2{
  margin-left:-5%;
}
.large_triangle{
  border-bottom: 80px solid #000000;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  width: 200px;
  position: absolute;
  top:280px;
  left:60px;

}

/** Adding a dream button **/
.add_button{
  border-radius: 100%;
  width: 35px;
  height: 35px;
  text-align: center;
  position:fixed;
  top:10%;
  right:5%;
  margin: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+89,ededed+100;White+3D+%231 */
  background: white; /* Old browsers */
  background: -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  box-shadow: 0px 0px 30px #0f0f0f;
  z-index: 1001;
  font-size:17pt;
  text-decoration: none;
  vertical-align: middle;
  color:black;
  font-weight: bold;
}

.add_button:hover{
  background: #ffffff;
  color:#000000;
  background: rgb(255,255,255); /* Old browsers */
  background: -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  box-shadow: 0px 0px 30px #ffffff;
  text-decoration: none;

}

.add_triangle{
  border-bottom: 8px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 20px;
  position: absolute;
  top:33px;
  left: 8px;
  z-index: 0;
}


/**Chute**/
.chute{
  padding: 20px 20px 20px 20px;
  bottom:100px;
  z-index: 1000;
  position:fixed;
  border:1px solid white;
  background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(50,50,50,0.7) 89%,rgba(60,60,60,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/**modal for view dream**/
.modal-header, .modal-footer, .modal-body{
  background-color: black;
  color:white;
}

.modal-backdrop{
  background-color: white;
}
.toprow{
  margin-top: 50px;
}

/*--------------------Debug classes---------------------*/
.debug{background-color: red;}
.debug2{background-color: green;}

/*--------------------Hidden------------------*/
.hidden{display:none;}
