/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #000000; background-image: url("background.png"); background-repeat: no-repeat; background-size: 100%; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

footer{
  height: 100px;
  background: black;
  width: 100%;
  position:fixed;
  bottom:0;
  left:0;
}
nav{
  background-color: #000000;
  padding:5px;
}
#dreamer a{
  font-size: 2em;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: left;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  font-family: "Gloria Hallelujah",cursive;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 15px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 40px #66ffff , 0 0 50px #66ffff , 0 0 70px #66ffff , 0 0 90px #66ffff ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  /**padding: 20px 0px 30px 30px;**/
  z-index:1000;
  margin-top: 10px;
  margin-left: 20px;
}

#dreamer a:hover{
  text-decoration: none;
  text-shadow: 0 0 20px rgba(255,255,255,1) , 0 0 25px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #66ffff , 0 0 50px #66ffff , 0 0 70px #66ffff , 0 0 90px #66ffff ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
body{
  background-color: #000000;
  margin: 0;
  height:1vh;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  display: block;
  font-family: "Open Sans",sans-serif;
  background-image:url("black.jpeg");
  background-size:cover;
  background-repeat: repeat-x;
}

label{
  font-family: "Open Sans",sans-serif;
  font-weight: normal;
}

.testing{
  background: green;
}
.margin-top{
  margin-top:5%;
}
/** Everything related to shelf itself **/
.shelf{
  margin-top: 15%;
  display: inline-block;
  position: relative;
}
.top-shelf{
  width: 100%;
  position:relative;
  z-index: 1;
  border-bottom: 10px solid #1A1A1A;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  box-sizing: border-box;
}

.top-shelf-edge {
  width: 100%;
  height: 15px;
  z-index: 99;
  position: relative;
  background: #0F0F0F;
  margin-bottom: 10px;
    box-sizing: border-box;
}

.bottom-shelf {
  width: 100%;
  z-index: 99;
  position:relative;
  top: -25px;
  border-bottom: 10px solid #1A1A1A;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
    box-sizing: border-box;
}

.bottom-shelf-edge {
  width: 100%;
  height: 15px;
  background: #0F0F0F;
  position: relative;
  z-index: 99;
  top: -25px;
    box-sizing: border-box;
}

.shelf-background {
  height: 10px;
  width: 200px;
  position: relative;
  background: transparent;
  left: 25px;
    box-sizing: border-box;
}

.listed{
  width: 100%;
}
.listed li{
  display: inline-block;
  position: relative;
  width: 15%;
  margin-right: 4.1%;
}
.listed li:first-child{
  margin-left: 4.1%;
}


/** Orb on shelves **/
.button{
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+89,ededed+100;White+3D+%231 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 89%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  box-shadow: 0px 0px 30px #ffffff;
  z-index: 1000;
}


.button:hover{
  background: darkgrey;
}

.triangle{
  border-bottom: 8px solid #1F1F1F;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 20px;
  position: relative;
  margin-top: -15%;
  left: 7%;
  z-index: 1000;
}
/** Large orb when viewing dream or creating dream **/
.large_orb{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+89,ededed+100;White+3D+%231 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 89%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  box-shadow: 0px 0px 30px #ffffff;
  z-index: 1000;
  margin-left: 30%;
}
.orb-margin{
  margin-left:18%;
}
.orb-margin2{
  margin-left:-5%;
}
.large_triangle{
  border-bottom: 80px solid #000000;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  width: 200px;
  position: absolute;
  top:280px;
  left:60px;

}

/** Adding a dream button **/
.add_button{
  border-radius: 100%;
  width: 35px;
  height: 35px;
  text-align: center;
  position:fixed;
  top:10%;
  right:5%;
  margin: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+89,ededed+100;White+3D+%231 */
  background: black; /* Old browsers */
  background: -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  box-shadow: 0px 0px 30px #0f0f0f;
  z-index: 10;
  font-size:17pt;
  text-decoration: none;
  vertical-align: middle;
  color:#ffffff;
}

.add_button:hover{
  background: #ffffff;
  color:#000000;
  background: rgb(255,255,255); /* Old browsers */
  background: -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  box-shadow: 0px 0px 30px #ffffff;
  text-decoration: none;

}

.add_triangle{
  border-bottom: 8px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 20px;
  position: absolute;
  top:33px;
  left: 8px;
  z-index: 0;
}


#output1,#output2{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  background-color: #0F0F0F;
}


/** Buttons for refereshing a dream **/
#changeImages2, #changeImages1{
  color:#ffffff;
  background: transparent;
  border:none;
  margin-top: 20px;
  margin-left: 15%;
}

#changeImages2:hover, #changeImages1:hover{
  color:darkgrey;
}

/** Button for confirming a dream **/
#newDreamImageSubmit, #searchbtn{
  color:#ffffff;
  position:absolute;
vertical-align: middle;
font-size: 20pt;
background-color: transparent;
border:none;
font-family: "Gloria Hallelujah",cursive;
}

#newDreamImageSubmit:hover,#searchbtn:hover{
  color:darkgrey;
  text-decoration: none;
}

/** Style for search image bar **/
.searchbox{
  padding:10px;
  background:black;
  border-radius: 25px;
}
#searchbtn{
  font-size: 12pt;
}
/**Chute**/
.chute{
  width:30px;
  height: 130px;
  z-index: 1000;
  position:fixed;
  border-bottom:1px solid #000000;
  background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(50,50,50,0.7) 89%,rgba(60,60,60,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.chute2{
  width:50px;
  height: 50px;
  z-index: 1000;
  position:fixed;
  top:125px;
  left:1054px;
  background-color: rgba(0,0,0,0.5) ;
  border-radius: 50%;
  border: 8px solid black;
  align-content: center;
}

.chute2 a{
  margin-left: 14px;
  margin-top: 10px;
}
.toprow{
  margin-top: 50px;
}

.debug{
  background-color: red;
}

.debug2{
  background-color: green;
}
